@import "tailwindcss";
@font-face {
    font-family: font300;
    src: url(../public/Fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font500;
    src: url(../public/Fonts/Lausanne-500.woff2);
} 

 .movelink{
  top:-100%;
  opacity: 0;
      transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);

}
.link:hover .movelink{
  top:0;
   opacity: 1;
  

} 


@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%); 
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 5s linear infinite;
}
