@import "tailwindcss";
@font-face {
    font-family: font300;
    src: url(../public/Fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font500;
    src: url(../public/Fonts/Lausanne-500.woff2);
}